<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--css do bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!--css personalizado-->
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <title>Homepage</title>
</head>
<body>
    <div class="container-fluid bg-topo ">
        <header class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <a href="index.html" class="navbar-brand">
              <img src="../img/dif_log.jpg" height="70" width="250"class="img-thumbnail" class="d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu"aria-controls="menu" aria-expanded="false" aria-label="Menu colapso">
              <span class="navbar-toggler-icon text-light"></span>
            </button>
            <div id="menu" class="collapse navbar-collapse">
              <ul class="navbar-nav mr-auto text-light" id="barra-menu" >
                  <li class="nav-item active">
                      <a href="index.html"class="nav-link text-light font-weight-bold scroll-pag cl-link">Home</a>
                    </li>
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle font-weight-bold scrol-pag cl-link" href="#" id="menu" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                A empresa
                   </a>
                   <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                     <a class="dropdown-item" href="quem-somos.html">Quem somos</a>
                     <a class="dropdown-item" href="#">Missão,Visão e Valores</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="#">Sustentabilidade</a>
                   </div>
                </li>
                <li class="nav-item">
                  <a href="#parceiros"class="nav-link text-light font-weight-bold scroll-pag cl-link">Parceiros</a>
                </li>
                <li class="nav-item">
                  <a href="#cursos"class="nav-link text-light font-weight-bold scroll-pag cl-link">Noticias</a>
                </li>
                <li class="nav-item">
                  <a href="fale-conosco.html"class="nav-link text-light font-weight-bold cl-link">Fale com Nosco</a>
                </li>
              </ul>
              
              </div>
          </nav>
        </header>
      </div>

    
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
</body>
</html>